In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'C:\Users\apati\Desktop\IPL_Dataset\Dataset\IPL Ball-by-Ball 2008-2020.csv')

In [3]:
df.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

In [13]:
df1 = df.loc[(df['id']==335982) & (df['batsman_runs']==6) & (df['inning']==1)]

In [14]:
df1.describe()

,id,inning,over,ball,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket
count,14.0,14.0,14.000000,14.000000,14.0,14.0,14.0,14.0,14.0
mean,335982.0,1.0,12.428571,3.642857,6.0,0.0,6.0,0.0,0.0
std,0.0,0.0,6.429670,2.023217,0.0,0.0,0.0,0.0,0.0
min,335982.0,1.0,1.000000,1.000000,6.0,0.0,6.0,0.0,0.0
25%,335982.0,1.0,9.250000,2.000000,6.0,0.0,6.0,0.0,0.0
50%,335982.0,1.0,14.000000,3.500000,6.0,0.0,6.0,0.0,0.0
75%,335982.0,1.0,18.000000,4.750000,6.0,0.0,6.0,0.0,0.0
max,335982.0,1.0,19.000000,7.000000,6.0,0.0,6.0,0.0,0.0